.header{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



.button:hover{
    border-color: orangered;
   
}

.header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content{
    height: calc(100vh); 
    width: 100vb
   
    
    
}